@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Или если нужны все компоненты */
@import "tailwindcss";

/* Ваши дополнительные стили */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .container-custom {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}